<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="main" />
        <title>Make your Research</title>

        <script type="text/javascript">
            function realizarBusca(){
                $("input[type=number]").val("0")
                $("input[type=text]").val("")
                alert("Sua busca foi feita com sucesso!")
            }
        </script>
    </head>
    <body>

        <form name="formBusca" id="formBusca" method="get" url="[controller: 'busca',action: 'search']" onSuccess="realizarBusca()">

            <h2>Research</h2>
            <label>Company</label> <input type="text" name="company" /><br />
            <label>Hours</label> <input type="number" name="hours" /><br />

            <input type="submit" name="searchStock" value="Search" />
        </form>



    </body>
</html>